{% extends 'base.html' %}
 
{% block title %}
    <title>顯示所有資料</title>{% endblock %}
{% block content %}
    <h2 align="left">
       顯示報名所有資料 &nbsp;&nbsp;
    </h2>
    <table border="1" cellpadding="0" cellspacing="0">
        <th>員工編號</th>
        <th>姓名</th>
        <th>電子信箱</th>
        <th>部門</th>
        <th>隊伍名稱</th>
        <th>隊友姓名</th>
        <th>隊友員工編號</th>
        <th>隊友信箱</th>
        {% for contest in contests %}   
        <tr>
            <td>{{contest.emid}}  </td>
            <td>{{contest.name}}  </td>
            <td>{{contest.email}}  </td>
            <td>{{contest.department}}  </td>
            <td>{{contest.teamname}}  </td>
            <td>{{contest.teammember_name}}  </td>
            <td>{{contest.teammember_emid}}  </td>
            <td>{{contest.teammember_email}}  </td>
        </tr>
        {% endfor %}
    </table>
 
 
 
{% endblock %}