<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>DBS Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <style>
        .header-class {
            min-height: 100vh;
            background-image: url(https://images.unsplash.com/photo-1508954528226-0b941060b8bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc9801b08d7ffedf4ce75d2e43b81d5f&auto=format&fit=crop&w=500&q=60);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }

        .btn-outline-light:hover {
            color: #333
        }

        .bg-cover {
            background-size: cover;
            background-position: center center;
        }

        .bg-attachment {
            background-attachment: fixed;
        }

        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }


        .video-container iframe,
        .video-container object,
        .video-container embed {

            position: absolute;

            top: 0;
            left: 0;

            width: 100%;

            height: 100%;
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }


        h6 {

            font-family: 微軟正黑體;
            font-size: -webkit-xxx-large;
        }

        .demo {
            font-family: 微軟正黑體;
        }


        header {
            padding: 154px 0 100px;
        }

        section {
            padding: 150px 0;
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item">
                <a class="nav-link" href="#video">觀看直播
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#Schedule">賽程表
                    <span class="sr-only">(current)</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#rule">比賽規則
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">聯絡我們
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <header class="header-class d-flex justify-content-center align-items-center">



        <div class="text-center text-black">
            <div class="video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/86OdGcTaOa8" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>




            <br>
            <div class="text-center text-white">
                <h6>2018星展TaipeiHub桌球盃</h6>

                <br>
                <h2>Let's Specialize in
                    <h2 style="color: firebrick">AWESOME</h2>
            </div>
        </div>

    </header>


    <section id="video" class="py-5 bg-attachment bg-cover" style="background-image: url(https://picjumbo.com/wp-content/uploads/fitness-girl-listening-to-streaming-music-on-her-phone_free_stock_photos_picjumbo_HNCK2000-2210x1474.jpg)">


        <div class="container">



            <div class="text-center text-black">
                <div class="col-lg-8 mx-auto">

                    <h6>觀看直播</h6>


                    <br>

                    <h3>Arena 1</h3>


                                <div class="video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QoOP8akQ3ks" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>

 <br>

                    <h3>Arena 2</h3>





            <div class="video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aHSXJEZTKoc" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>






                </div>
            </div>

        </div>
    </section>




    <section id="Schedule" class="py-5 bg-attachment bg-cover" style="background-image: url(https://picjumbo.com/wp-content/uploads/young-fit-woman-on-morning-jogging-run_free_stock_photos_picjumbo_HNCK1808-2210x1474.jpg)">




        <div class="container">


            <div class="text-center text-black">
                <h6>賽程表</h6>
                <br>

            </div>


            <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                                        <li data-target="#demo" data-slide-to="3"></li>
                                        <li data-target="#demo" data-slide-to="4"></li>


                </ul>

                <div class="carousel-inner">



                    <div class="carousel-item active">



                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th colspan="7" style="text-align: center;width: 50%">1st August, 2018

                                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=oHC9O-xKovk">比賽影片 1</a>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>


                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">CBG</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">Finance</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">AH</td>
                                    <td style="text-align: center;width: 5% ">0</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 25% ">乒乓跳</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;
                                        <a style="color: gold">Won</a>
                                    </td>
                                </tr>



                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">CBG</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">T&O Ops</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% ">
                                        <a style="color: gold">Won</a>
                                    </td>
                                    <td style="text-align: center;width: 25% ">Ak-47</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;0</td>
                                    <td style="text-align: center;width: 25% ">紅吱吱冠軍二隊</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>


                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">CBG</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">T&O Ops</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">Health</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;0</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 25% ">紅吱吱冠軍三隊</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;
                                        <a style="color: gold">Won</a>
                                    </td>
                                </tr>


                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">FCSS</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">T&O Ops</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% ">
                                        <a style="color: gold">Won</a>
                                    </td>
                                    <td style="text-align: center;width: 25% ">let us win plz</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;0</td>
                                    <td style="text-align: center;width: 25% ">紅吱吱冠軍五隊</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>


                            </tbody>
                        </table>




                        <div class="carousel-caption">
                        </div>
                    </div>




                    <div class="carousel-item">


                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th colspan="7" style="text-align: center;width: 50%">2nd August, 2018
                                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?time_continue=25&v=xSpIlLAcsRg">比賽影片 1 </a>
                                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?time_continue=15&v=3eLBEqIJm9Y">比賽影片 2</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>




                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">CBG</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">T&O CC</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">666</td>
                                    <td style="text-align: center;width: 5% ">0</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 25% ">CC5</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;
                                        <a style="color: gold">Won</a>
                                    </td>
                                </tr>



                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">CBG</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">T&O CC</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">二張隊</td>
                                    <td style="text-align: center;width: 5% ">0</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 25% ">CC4</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;
                                        <a style="color: gold">Won</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">CBG</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 25% ">T&O Ops</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 25% ">網球王子</td>
                                    <td style="text-align: center;width: 5% ">0</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                    <td style="text-align: center;width: 25% ">(曾經)桌球校隊</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;
                                        <a style="color: gold">Won</a>
                                    </td>
                                </tr>


                                <tr>
                                    <td style="text-align: center;width: 17.5% "> </td>
                                    <td style="text-align: center;width: 22.5% ">FCSS</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 5% ">&nbsp;</td>
                                    <td style="text-align: center;width: 22.5% ">T&O Ops</td>
                                    <td style="text-align: center;width: 17.5% ">&nbsp;</td>




                                    <tr>
                                        <td style="text-align: center;width: 17.5% "> </td>
                                        <td style="text-align: center;width: 22.5% ">啦啦啦</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;1</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                        <td style="text-align: center;width: 22.5% ">一閃一閃亮晶晶のSUPER STAR金牌＊2</td>
                                        <td style="text-align: center;width: 17.5% ">&nbsp;
                                            <a style="color: gold">Won</a>
                                        </td>

                                    </tr>








                                    <tr>
                                        <td style="text-align: center;width: 17.5% "> </td>
                                        <td style="text-align: center;width: 25% ">CBG</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;</td>
                                        <td style="text-align: center;width: 25% ">T&O CC</td>
                                        <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 17.5% ">
                                            <a style="color: gold">Won</a>
                                        </td>
                                        <td style="text-align: center;width: 25% ">都好</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;0</td>
                                        <td style="text-align: center;width: 25% ">CC2</td>
                                        <td style="text-align: center;width: 17.5% ">&nbsp;</td>
                                    </tr>




                                    <tr>
                                        <td style="text-align: center;width: 17.5% "> </td>
                                        <td style="text-align: center;width: 22.5% ">Credit</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;</td>
                                        <td style="text-align: center;width: 5% ">&nbsp;</td>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>
                                        <td style="text-align: center;width: 17.5% ">&nbsp;</td>




                                        <tr>
                                            <td style="text-align: center;width: 17.5% "> </td>
                                            <td style="text-align: center;width: 22.5% ">法蘭克公主號</td>
                                            <td style="text-align: center;width: 5% ">&nbsp;1</td>
                                            <td style="text-align: center;width: 5% ">VS.</td>
                                            <td style="text-align: center;width: 5% ">&nbsp;2</td>
                                            <td style="text-align: center;width: 22.5% ">CC12</td>
                                            <td style="text-align: center;width: 17.5% ">&nbsp;
                                                <a style="color: gold">Won</a>
                                            </td>

                                        </tr>




                            </tbody>
                        </table>



                        <div class="carousel-caption">

                        </div>
                    </div>





                    <div class="carousel-item">


                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th colspan="3" style="text-align: center;width: 50%">3rd August, 2018</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td style="text-align: center;width: 22.5%">T&O IT</td>
                                    <td style="text-align: center;width: 5% "><a style="color: tomato"> 12:00</a></td>
                                    <td style="text-align: center;width: 22.5% ">T&O CC</td>

                                </tr>


                                <tr>
                                    <td style="text-align: center;width: 22.5% ">Unicorn A</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 22.5% ">CC9</td>

                                </tr>




                                <tr>
                                    <td style="text-align: center;width: 22.5% ">CBG</td>
                                    <td style="text-align: center;width: 5% "><a style="color: tomato"> 12:15</a></td>
                                    <td style="text-align: center;width: 22.5% ">T&O Ops</td>

                                </tr>



                                <tr>
                                    <td style="text-align: center;width: 22.5% ">珍奶</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 22.5% ">太陽的後裔</td>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CBG</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato"> 12:30</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>

                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">丁丁是個人才</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">CC7</td>


                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O Ops</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato"> 12:45</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O IT</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">Ping-Pong Boy</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">張大師與小Allen</td>


                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">HR</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato"> 12:45</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O Ops</td>


                                    </tr>


                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">冠軍隊</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">卡小兵</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">Finance</td>
                                            <td style="text-align: center;width: 5% "><a style="color: tomato"> 13:00</a></td>
                                            <td style="text-align: center;width: 22.5% ">T&O CC</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">FIN-1</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">&nbsp;CC8</td>


                                    </tr>

                                    <tr>


                            </tbody>
                        </table>



                        <div class="carousel-caption">

                        </div>
                    </div>


                    <div class="carousel-item">


                        <table class="table table-dark">
                            <thead>
                                <tr>



                                    <th colspan="3" style="text-align: center;width: 50%">6th August, 2018</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td style="text-align: center;width: 22.5%">CBG</td>
                                    <td style="text-align: center;width: 5% "><a style="color: tomato">12:30</a></td>
                                    <td style="text-align: center;width: 22.5% ">T&O IT</td>

                                </tr>


                                <tr>
                                    <td style="text-align: center;width: 22.5% ">D A</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 22.5% ">胖胖特攻隊</td>

                                </tr>




                                <tr>
                                    <td style="text-align: center;width: 22.5% ">CBG</td>
                                    <td style="text-align: center;width: 5% "><a style="color: tomato">12:30</a></td>
                                    <td style="text-align: center;width: 22.5% ">T&O IT</td>

                                </tr>



                                <tr>
                                    <td style="text-align: center;width: 22.5% ">專案要順利</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 22.5% ">HA Team</td>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CBG</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato">12:45</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O IT</td>

                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">PS-S</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">車太鉉</td>


                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CBG</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato">12:45</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O IT</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">SuperS</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">Team TT</td>


                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O Ops</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato">13:00</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>


                                    </tr>


                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">WIN刀敵隊</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">CC3</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CBG</td>
                                            <td style="text-align: center;width: 5% "><a style="color: tomato">13:00</a></td>
                                            <td style="text-align: center;width: 22.5% ">Credit</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">豬羅濟世團</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">Piece of Cake</td>


                                    </tr>

                                    <tr>


                            </tbody>
                        </table>



                        <div class="carousel-caption">

                        </div>
                    </div>

                          <div class="carousel-item">


                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th colspan="3" style="text-align: center;width: 50%">7rd August, 2018</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>

                                    <td style="text-align: center;width: 22.5%">T&O CC</td>
                                    <td style="text-align: center;width: 5% "><a style="color: tomato">12:00</a></td>
                                    <td style="text-align: center;width: 22.5% ">T&O Ops</td>

                                </tr>


                                <tr>
                                    <td style="text-align: center;width: 22.5% ">嬌蛙</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 22.5% ">下一隊</td>

                                </tr>




                                <tr>
                                    <td style="text-align: center;width: 22.5% ">CBG</td>
                                    <td style="text-align: center;width: 5% "><a style="color: tomato">12:15</a></td>
                                    <td style="text-align: center;width: 22.5% ">CBG</td>

                                </tr>



                                <tr>
                                    <td style="text-align: center;width: 22.5% ">剛好路過</td>
                                    <td style="text-align: center;width: 5% ">VS.</td>
                                    <td style="text-align: center;width: 22.5% ">噗嚨共</td>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CBG</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato">12:15</a></td>
                                        <td style="text-align: center;width: 22.5% ">CBG</td>

                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">乒乓</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">少林桌球</td>


                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato">12:30</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O Ops</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CC6</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">紅吱吱冠軍一隊</td>


                                    </tr>



                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O IT</td>
                                        <td style="text-align: center;width: 5% "><a style="color: tomato">12:30</a></td>
                                        <td style="text-align: center;width: 22.5% ">T&O Ops</td>


                                    </tr>


                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">出來面對</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">贏我揪噗隊</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>
                                            <td style="text-align: center;width: 5% "><a style="color: tomato">12:45</a></td>
                                            <td style="text-align: center;width: 22.5% ">T&O IT</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CC10</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">ChannelStar</td>


                                    </tr>

                                <tr>
                                        <td style="text-align: center;width: 22.5% ">FCSS</td>
                                            <td style="text-align: center;width: 5% "><a style="color: tomato">12:45</a></td>
                                            <td style="text-align: center;width: 22.5% ">Credit</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">湖人隊</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">Fearless</td>


                                    </tr>



                                                            <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>
                                            <td style="text-align: center;width: 5% "><a style="color: tomato">13:00</a></td>
                                            <td style="text-align: center;width: 22.5% ">CBG</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">CC1</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">幹掉下一隊</td>


                                    </tr>



                                                            <tr>
                                        <td style="text-align: center;width: 22.5% ">T&O CC</td>
                                            <td style="text-align: center;width: 5% "><a style="color: tomato">13:00</a></td>
                                            <td style="text-align: center;width: 22.5% ">T&O IT</td>


                                    </tr>

                                    <tr>
                                        <td style="text-align: center;width: 22.5% ">Twelve Baby</td>
                                        <td style="text-align: center;width: 5% ">VS.</td>
                                        <td style="text-align: center;width: 22.5% ">Unicorn B</td>


                                    </tr>


                            </tbody>
                        </table>



                        <div class="carousel-caption">

                        </div>
                    </div>



                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>





    <section id="rule" class="py-5 bg-attachment bg-cover" style="background-image: url(https://picjumbo.com/wp-content/uploads/fit-young-girl-stretching-her-legs-before-jogging-workout_free_stock_photos_picjumbo_hnck3684-2210x1474.jpg)">

        <div class="container">


            <div class="text-center text-black">
                <h6>比賽規則</h6>
                <br>



                <div id="demo1" class="carousel slide" data-ride="carousel" data-interval="15000">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo1" data-slide-to="0" class="active"></li>
                        <li data-target="#demo1" data-slide-to="1"></li>
                        <li data-target="#demo1" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://s3.amazonaws.com/gilbert-lin.com/1.png" alt="1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://s3.amazonaws.com/gilbert-lin.com/2.png" alt="2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://s3.amazonaws.com/gilbert-lin.com/3.png" alt="3">
                        </div>
                    </div>





                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>


            </div>
        </div>

    </section>





    <section id="contact" class="bg-dark py-5 bg-attachment bg-cover">
        <div class="container">
            <h5 class="m-0 text-center text-white">有任何問題請聯絡</h5>
            <h5 class="m-0 text-center text-white">Gilbert: gilbertlin@dbs.com</h5>
            <h5 class="m-0 text-center text-white">Tim: timtsai@dbs.com</h5>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

</html>
